body{
    background-color: rgba(0, 0, 0, 0.877);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 24px;
    float: left;
    display: flex;
    position: relative;
    bottom: 23px;
}

.div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 26%;
    margin-right: 26%;
    margin-top: 8px;
    margin-bottom: 0;
    box-sizing: border-box;
    border: 2px;
    padding: 16px 16px 16px 16px;
}

.navi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
    position: relative;
    bottom: 1px;
    margin: 2px;
    right: 1%;
}

.main{
    text-align: center;
}
.hov:hover{
    color: gray;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
nav .hov{
    margin-left: 16px;
    padding-bottom: 8px;
    box-sizing: border-box;
    bottom: 23px;
}
main p{
    font-weight: 150;
}
header{
    margin-bottom: 90px;
}

