h1{
    color: black;
    margin: 5px;
}
img{
    height: 50%;
    width: 50%;
}
body{
    background-color: white;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}.masuk{
    text-align: center;
}
.tombol {
    display: inline-block;
    background: #4285F4;
    color: black;
    width: 240px;
    height: 35px;
    border-radius: 8px;
    border: thin solid grey;
    white-space: nowrap;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px ;
    text-align: center;
  }
.input{
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    margin:3px;
    padding: 20px;
    box-sizing: border-box;
}
.border{
    background-color: rgb(206, 250, 235);
    border-radius: 8px;
    padding: 20px;
}
